/* Styles*/
@media screen and (max-width: 600px) {
    form {
        margin: 10px;
        padding: 15px;
    }

    header {
        font-size: 18px; 
        padding: 15px;
    }

    .form-group {
        margin-bottom: 10px; 
    }

    label {
        font-size: 14px; 
    }

    input, select, textarea {
        font-size: 14px; 
    }

    button {
        padding: 12px 15px;
    }

    .rating {
        width: 100%;
        flex-wrap: wrap; 
        justify-content: center;
    }
    

    .rating input {
        margin-right: 0; 
        margin-bottom: 5px; 
    }

    
    .form-group label input[type="checkbox"] {
        margin-right: 8px;
        vertical-align: middle;
    }

    .form-group {
        display: block; 
        gap: 10px;
    }

    footer {
        font-size: 14px; 
        padding: 10px;
    }
}
